body {
    background-color: #c0c0c0;
    margin: 0em; padding: 0em;
}

h1 {
    color: #377ba8;
    font-family: "Georgia", serif;
    margin: 0em;
}

#nav {
    background-color: #c0a5a5;
    border-bottom: 1px solid #c0c0c0;
    width: 100%;

    margin: 0em;

    font-family: "Georgia", serif;
    font-size: 2em;
    word-spacing: 3em;
    
    padding-left: 1em;
}

#nav a {
    text-decoration: none;
    color: #000000;
}

#nav a:hover {
    text-decoration: underline;
}

#nav a:visited {
    color: #000000;
}

#subnav {
    background-color: #c09898;
    border-bottom: 1px solid #c0a5a5;
    height: 8em;
}

#content {
    padding: 0.5em;
}

.list img {
    float: left;
    height: 150px;
    width: 150px;
    border: 1px solid #377ba8;
    margin-bottom: 1em;
    margin-right: 0.5em;
}

.list .summary {
    
}

.list .summary a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
}

.list .summary a:hover {
    text-decoration: underline;
}

.list .summary a:active {
    color: #000000;
}

.list .summary a:visited {
    color: #ffffff;
}

.list .container {
    clear: both;
}

.list .links {
}

.project_container {

}

.project_container img {
    float: left;
    height: 350px;
    width: 550px;
    border: 1px solid #377ba8;
    margin-bottom: 1em;
    margin-right: 0.5em;
}

.project_container .about {
    float: left;
}

#subnav h3 {
    color: #377ba8;
    font-family: "Georgia", serif;
    font-size: 2em;
    margin: 0em;
    display: block;
}

#subnav {
    padding: 0.5em;
}

#subnav .search {
    float: right;
    margin-right: 0.5em;
    text-align: right;
}

.sort_form input[type="submit"] {
    border: 1px solid #000000;
    width: 10em;
}

.highlight {
    background-color: #c0c0c0;
}