{% extends "layout.html" %}
{% block content %}
   <h1>An introducation of the authors and about the site.</h1>
   <br />
   This site is created by Johan Wänglöf and Simon Engström for our class, TDP003. We were given the task to write a portfolio where we can "show off" our projects we're doing in school to future employers.
   <br />
   The design isn't that pretty and the code is probably not that optimized but it works ;)
   <p>
     <img src="{{ url_for("images", filename="johan.jpg") }}" width="200px" />
     <img src="{{ url_for("images", filename="simon.jpg") }}" />
   </p>
{% endblock %}
