{% extends "layout.html" %}

{% block subnav %}
    <div style="float: left">
    <h3>Sort by (no working, mate):</h3>
    <form method="post" action="/list">
      <input type="submit" name="name" value="Name" /> <br />
      <input type="submit" name="id" value="ID" /> <br />
      <input type="submit" name="top" value="Top projects" />
    </form>
    </div>
{% endblock %}

{% block content %}
    <div class="list">
      <h1>Most Recent Projects</h1>
      {% for rows in data %}
      <div class="container">
	<img src="{{ rows["snapshot"] }}" />
	<div class="summary">
	  <h3><a href="/project/{{ rows["id"] }}">{{ rows["project_name"] }}</a></h3>
	  <br />
	  {{ rows["summary"] }}
	</div>
	<div class="links">
	  Screenshots | Source code | Comments
	</div>
      </div>
      {% endfor %}
    </div>
{% endblock %}
