{% extends "layout.html" %}

{% block content %}
{% if session["sess_admin"] %}
   <strong>You are already logged in.</strong>
{% else %}
   {% if error %} <strong>Error:</strong> {{ error }} {% endif %}
   <form method="post" action="{{ url_for("page_login") }}">
     <input type="text" name="username" placeholder="Username..." />
     <br />
     <input type="password" name="password" placeholder="Password..." />
     <br />
     <input type="submit" value="Log in" />
   </form>
{% endif %}
{% endblock %}
