{% extends "layout.html" %}

{% block subnav %}
    <form method="post" action="/search" class="search">
      <div class="search_block">
      Choose which categories to search in (required):
      {% for i in keys %} 
         <div class="category">
	   <input type="checkbox" name="search_categories" value="{{ i }}" /> {{ i.replace("_", " ").title() }}
         </div>
      {% endfor %}
      </div>
      
      <div class="search_block">
      Choose which techniques to limit the search to (not required):
      {% for o in techs %}
         <div class="category">
           <input type="checkbox" name="search_techniques" value="{{ o }}" /> {{ o.replace("_", " ").title() }}
	 </div>
      {% endfor %}
      </div>

      <div class="search_block">
      Choose which categories to sort on:
      <select name="sort_category">
      {% for i in keys %}
         {% if i == "start_date" %}
            <option value="{{ i }}" selected />{{ i.replace("_", " ").title() }}</option>
         {% else %}
            <option value="{{ i }}" />{{ i.replace("_", " ").title() }}</option>
         {% endif %}
      {% endfor %}
      </select>
      </div>
      
      <div class="search_block">
      Should the result be ascending or descending?
      <select name="sort_order">
	<option value="asc" selected>Ascending</option>
	<option value="desc">Descending</option>
      </select>
      </div>

      <div class="search_block">
	Only ASCII-characters ;P
	<input type="text" name="search_string" placeholder="Search for..." / class="search">
      </div>

      <input type="submit" value="Search" />
    </form>
{% endblock %}

{% block content %}
    <div class="list">
    {% for i in _search_result[1] %}
       <div class="container">
	 <img src="{{ url_for("images", filename=i["small_image"]) }}" />
	 <div class="summary">
	   <h3><a href="/project/{{ i["project_no"] }}">{{ i["project_name"] }}</a></h3>
	   <br />
	   {{ i["short_description"] }}
	 </div>
	 <div class="links">
	   Techniques used: {% for techs in i["techniques_used"] %}
	  {{ techs }},
	  {% endfor %}
	  <br />
	  Screenshots | Source code | Comments
	</div>
       </div>
    {% endfor %}
    </div>
{% endblock %}
