{% extends "layout.html" %}

{% block subnav %}
    <form method="post" action="/search" class="search">
      <input type="text" name="search_string" placeholder="Search..." />
      <br />
      Choose which categories to search in (must choose at least 1)
      <br />
      {% for i in keys %}
      <input type="checkbox" name="search_categories" value="{{ i }}" /> {{ i }}
      {% endfor %}
      <br />
      <input type="submit" value="Search" />
    </form>
{% endblock %}

{% block content %}
   {% for i in _search_result %}
      {{ i }}
   {% endfor %}
{% endblock %}
